
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4000;
}

.menu-overlay.activo {
    display: block;
}


.mega-menu-contenido {
    position: fixed;
    top: 0;
    left: 290px;
    width: 900px; 
    height: 100vh;
    background: white;
    padding: 40px;
    box-shadow: 15px 0 40px rgba(0, 0, 0, 0.3);
    z-index: 4001;
    overflow-y: auto;
}


.cerrar-mega-menu {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 45px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.cerrar-mega-menu:hover {
    color: red;
}


.mega-menu-contenido > h2 {
    font-size: 34px;
    color: #1d3557;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.grid-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.categoria-item {
    background: #f8f9fa;
    padding: 25px;
    border-radius: 15px;
    border-left: 8px solid #3d57c7;
    transition: 0.2s;
}

.categoria-item:hover {
    background: #f0f4ff;
    transform: translateY(-3px);
}


.categoria-item h3 {
    font-size: 24px;
    color: #3d57c7;
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

.categoria-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.categoria-item li {
    font-size: 19px; 
    color: #1a202c;
    padding: 8px 0;
    cursor: pointer;
    font-weight: 500;
}

.categoria-item li:hover {
    color: #3d57c7;
    font-weight: bold;
    padding-left: 8px;
}


.categorias-titulo {
    color: #000000; 
    font-size: 30px; 
    transition: color 0.2s ease; 
}


.categorias-titulo:hover {
    color: #f0f0f0; 
}