.banner {
    max-width: 900px;     
    width: 90%;            
    height: auto;          
    object-fit: cover;      
    display: block;
    margin: 20px auto;      
    border-radius: 15px;    
    position: relative;
    z-index: 2;
}

.productos,
.productos-limpieza,
.productos-bebidas {
    display: flex;
    flex-wrap: wrap;             
    justify-content: center;     
    gap: 25px;                   
    padding: 20px;
    max-width: 1200px;           
    margin: 0 auto;             
}


.card {
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 15px;         
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
    display: flex;
    flex-direction: column;      
    align-items: center;         
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


.card img {
    width: 100%;
    height: 200px;               
    object-fit: contain;        
    margin-bottom: 10px;
}


.card h2 {
    font-size: 20px;
    color: #333;
    margin: 10px 0 5px 0;
}

.precio {
    color: #2346d4;
    font-size: 28px;
    font-weight: bold;
    margin-top: auto;            
}

.viejo {
    color: gray;
    text-decoration: line-through;
    font-size: 18px;
    margin-right: 8px;
}


.card {
    position: relative; 
}

.btn-favorito {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 22px;
    color: #888;
    cursor: pointer;
    transition: 0.2s;
}


.btn-favorito:hover {
    color: #e74c3c; 
    transform: scale(1.2);
}


.btn-carrito {
    width: 100%;
    margin-top: 15px;
    background: #3d57c7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-carrito:hover {
    background: #2b429e;
}
h1 {
    color: #2346d4;
    text-align: center;
}